@{
    ViewBag.Title = "Login";
}
<script src="../../Content/EasyUI/jquery-1.8.0.min.js"></script>
<script src="../../Content/EasyUI/jquery.easyui.min.js"></script>
<script src="../../Content/EasyUI/easyui-lang-zh_CN.js"></script>
<link href="../../Content/EasyUI/themes/default/easyui.css" rel="stylesheet" />
<link href="../../Content/EasyUI/themes/icon.css" rel="stylesheet" />
<script src="../../Scripts/Commom/Login.js"></script>
<body style="width:95%;height:95%; ">
    <div id="win" class="easyui-window" title="登录界面" style="width: 280px; height: 180px;" data-options="iconCls:'icon-save',modal:true,collapsible:false,minimizable:false,maximizable:false,closable:false,draggable:false,resizable:false,inline:false">
        <table style="padding-left: 15px; padding-top: 10px;">
            <tr>
                <td>用户名：</td>
                <td>
                    <input id="name" type="text" value="admin" /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>密　码：</td>
                <td>
                    <input id="pwd" type="password" value="123456" /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <input type="button" value="登录" onclick="login();" /></td>
                <td style="text-align: center">
                    <input type="button" value="重置" onclick="reset();" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <label id="showInfo"></label>
                </td>
            </tr>
        </table>
    </div>
</body>
